.card-container{
    border-radius: 20px;
    border: 1px solid #CACACA;
    box-shadow: none;
}

.p-datatable-thead{
    background-color: white !important;
}

.p-datatable .p-column-header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*MOVIL*/
@media only screen and (max-width: 768px) {
    
    .container-movil{
        display: flex;
        flex-wrap: wrap;
    }

    .p-8{
        padding: 0;
    }

    .col-100{
        width: 100% !important;
    }

}