.card-container{
    border-radius: 20px;
    border: 1px solid #CACACA;
    box-shadow: none;
}

.p-datatable-thead{
    background-color: white !important;
}

.p-datatable-table{
    width: 64em;
}

.p-datatable .p-column-header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}