$main-color: #533893;
$primary-color: #535353;
$secondary-color: #e8f0fe;
$three-color: #a71989;
$fourth-color: #603ce6;
$input-color-border: #b5bac5;
$color-black: #000;
// fonts
$font-family-main: "RubikMedium", sans-serif;
// path img
$base-path-url-image: "../public/images/";
// alerts
$alert-failed-color: #ff0000;
$alert-failed-background-color: #f9f0ef;

.dashboard-margin-ac {
    height: 100%;
    background-color: #E5E1EF;
    padding: 37px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9%;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 155px;
    width: 155px;
    border: 1px solid $main-color;
    background: #FFF;
    cursor: pointer;
    box-shadow:
      -70px -70px 0 -65px $main-color,
      -70px 70px 0 -65px $main-color,
      70px -70px 0 -65px $main-color,
      70px 70px 0 -65px $main-color;
    & img {
        height: 67px;
        width: 67px;
    }
    & .application-name {
        color: $main-color;
        max-width: 90%;
        text-align: center;
        font-family: Rubik !important;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }
}
  
.external-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-portal {
    background-color: $main-color;
    height: 25px;
    display: grid;
    bottom: 0;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & span {
        color: $secondary-color;
        text-align: center;
        font-family: Rubik;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }
}

.welcome-container {
    gap: var(--24, 24px);
    flex-shrink: 0;
    align-items: end;
    & .title {
        color: $main-color;
    }

    & .content {
        color: $color-black;
        text-align: center;
        font-family: Rubik !important;;
        font-size: 17px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
    }
}

.primary-bold {
    color: $main-color;
    font-family: Rubik;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

@media (min-width: 1024px) {
    .dashboard-margin-ac {
        background-size: cover;
        background-repeat: no-repeat;
        padding: 45px 25px;
    }

    .welcome-container {
        width: 820px;
    }
}
