/*card*/
.container{
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.card{
    border-radius: 20px;
    border: 1px solid #CACACA;
    box-shadow: none;
    color: #000000;
}

.p-card .p-card-subtitle{
    color: #000000;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;    
}

.p-card .p-card-title{
    font-family: Rubik;
    font-size: 29px;
    font-weight: bold;
    line-height: 35px;
    letter-spacing: 0em;
}

/*Accordion*/
.p-accordion .p-accordion-tab{
    margin-bottom: 4px;
}

.p-accordion .p-accordion-tab:not(:first-child) .p-accordion-header .p-accordion-header-link{
    border-top: 1px solid #dee2e6;
    
}

.p-accordion .p-accordion-tab:last-child .p-accordion-header:not(.p-highlight) .p-accordion-header-link{
    border-radius: 6px;
}

.p-accordion .p-accordion-tab:first-child .p-accordion-header .p-accordion-header-lin{
    border-radius: 6px;
}

.p-accordion .p-accordion-tab .p-accordion-header .p-accordion-header-link{
    border-radius: 6px;
}

/*Tabla*/
span {
    font-family: Rubik;
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

p{
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }