.split{
    margin-left: 1.1%;
}

.input-desabled{
    background-color: #E9E9E9;
}

.buton-fixe{
    position: fixed;
    bottom: -37px;
    right: 0;
    max-width: 1024;
    margin-bottom: 30px;
    background-color: white;
    border-top: solid 1px #a8a8a8; 
}

.card-h{
    height: 46em;
}